


body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	background: #fff;
    font-size:xx-large
}

a {
	color: #888;
	text-decoration: none;
}

ul.list{
    list-style-type:none;
    font-family:'Bodoni MT Poster';
    font-size:xx-large;
    }

table{
    padding:1px;
    border:dashed;
    width:100%;
    height:30%;
}


/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.5;
	padding: 0 0 0.6em 0.1em;
}


.container {
	height: 100%;
	position: relative;
}

.container > section {
	margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
	color: #fff;
}

.container > section p {
	position: relative;
	margin: 0;
	padding: 1em;
	z-index: 1;
}

.container > section p.text {
	font-size: 1.4em;
}

.no-touch .note-touch {
	display: none;
}



